[core]
        autocrlf = input
        excludesfile = /usr/local/etc/git/.gitignore

[user]
	name = Jérôme Macias
	email = jerome.macias@gmail.com
	signingkey = ***

[alias]
	la = "!git config -l | grep alias | cut -c 7-"
        lg2 = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
        co = checkout
        br = branch --verbose
        brm = branch --merged
        bra = branch -a
        brc = "!f() { for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do git branch -D $branch; done; }; f"
        ci = commit -S
        cia = commit --amend
        oups = commit --amend -C HEAD
        changes = diff --name-status
        st = status
        sh = stash
        sl = stash list
        sp = stash pop
        df = diff --ignore-space-at-eol --find-rename --indent-heuristic
        dfh = "!f() { git diff --color --find-renames --indent-heuristic \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
        dffh = "!f() { git diff --no-ext-diff --color --find-renames --indent-heuristic \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
        dfc = "!f() { git diff --color --cached --ignore-space-change --ignore-all-space --ignore-space-at-eol --ignore-blank-lines --find-renames --indent-heuristic \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
        dfs = diff --cached --stat
        up = ! git remote update -p; git merge --ff-only @{u}
        unstage = reset --hard
        undo = reset --soft HEAD^
        rebc = rebase --continue
        rebt = rebase --abort
        rebs = rebase --skip
        last = log -1 HEAD
        lint = ! git status --porcelain | /usr/bin/grep -e '^[AUM ][UM ].*\\.php$' | awk '{print $2}' | xargs -L 1 php -l
        php-cs-fixer = ! git status --porcelain | /usr/bin/grep -e '^[AUM ][UM ].*\\.php$' | awk '{print $2}' | xargs -L 1 php-cs-fixer fix
        force = push --force-with-lease
	next = "!f() { git checkout `git log --reverse --ancestry-path HEAD..master | head -n 1 | cut -d \\  -f 2`; }; f"

[color]
#        diff = auto
        status = auto
        branch = auto
        interactive = auto
	ui = true

[github]
        user = jeromemacias
        token = ***

[push]
        default = upstream
	autoSetupRemote = true

[pull]
        rebase = merges

[branch]
        autosetuprebase = always

[diff "pdfconv"]
        textconv=pdftohtml -stdout

[grep]
        linenumber = true

[filter "media"]
        required = true
        clean = git media clean %f
        smudge = git media smudge %f

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse

[credential]
	#helper = !aws codecommit credential-helper $@
	UseHttpPath = true

[diff "nodiff"]
	command = /usr/bin/true

[gpg]
	program = gpg
[commit]
	gpgsign = true
[diff-so-fancy]
	stripLeadingSymbols = false
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[rebase]
	updateRefs = true

[url "git@github.com:"]
	insteadOf = https://github.com/
